* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background-color: #1b1b1b;
}

.capsule {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5rem;
  text-transform: uppercase;
  color: white;
  padding: 7rem 0;
}
