* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: hsla(255, 100%, 0.8%, 0.9);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: hsl(0, 0%, 100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: clamp(5rem, 10vw, 10rem);
  text-transform: uppercase;
  margin: 1rem 20vw;
}

h2 {
  font-size: clamp(1.25rem, 2vw, 10rem);
  font-weight: 300;
  margin: 0 20vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 25ch;
}

@media (min-width: 750px) {
  .App {
    justify-content: center;
  }
}
